.contenedor{
    background-color: #999;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

input[type="text"],
input[type="email"],
select,
textarea{

    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 10px;
    box-sizing: border-box;
}


input[type="submit"]{

    width: 100%;
    background-color: green;
    color: white;
    border: none;
    padding: 15px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
   
}

input:focus{

    background-color: rgb(212, 217, 221);
}

input[type="submit"]:hover{

    background-color: rgb(15, 219, 15);
}